<div class="right_col" role="main" ng-controller="controllerStoreDetail">
    <div class="">

        <!-- Row -->
        <div class="row">

            <!-- Map Panel Body -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel-body">
                    <div class="x_panel">

                        <!-- Map Panel Title -->
                        <div class="x_title">
                            <h2> Map </h2>
                            <div class="clearfix">
                            </div>
                        </div>
                        <!-- /Map Panel Title -->

                        <!-- Map Panel Content -->
                        <div class="x_content">
                            <div id="map" style="width:450; height:380px"></div>
                        </div>
                        <!-- /Map Panel Content -->

                    </div>
                </div>
            </div>
            <!-- /Map Panel Body -->

        </div>
        <!-- /Row -->

    </div>

    <!-- footer content -->
    <footer>
        <div class="">
            <p class="pull-right">Gentelella Alela! a Bootstrap 3 template by <a>Kimlabs</a>. |
                <span class="lead"> <i class="fa fa-paw"></i> Gentelella Alela!</span>
            </p>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->

</div>
